- name: Install Helm
  get_url:
    url: https://get.helm.sh/helm-v3.14.2-linux-amd64.tar.gz
    dest: /tmp/helm.tar.gz

- name: Extract Helm
  unarchive:
    src: /tmp/helm.tar.gz
    dest: /tmp
    remote_src: yes

- name: Move Helm binary
  copy:
    src: /tmp/linux-amd64/helm
    dest: /usr/local/bin/helm
    mode: '0755'
