apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prediction-backend
  namespace: monitoring
  labels:
    release: prometheus
spec:
  namespaceSelector:
    matchNames:
      - prediction
  selector:
    matchLabels:
      app: backend
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
