name: Run Tests

on:
  workflow_call:
  push:
    branches: [ main, feature ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run Docker Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run docker-compose tests
        run: |
          docker compose -f docker-compose.test.yml up --build --exit-code-from tests

      - name: Cleanup
        if: always()
        run: docker compose -f docker-compose.test.yml down
